.top-row {
  margin-top: 30px;
  margin-bottom: 25px;
}

.main-text {
  display: inline;
}

/* Font-Awesome Custom Code */

.fa-arrow-up{
  color: #5cb85c;
  border-color: #4cae4c;
}

.fa-arrow-up:hover{
  color: #449d44;
  border-color: #398439;
}
